In [5]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import requests

In [8]:
#import covid data
file_path = "covid_data.csv"
covid_data_df = pd.read_csv(file_path)
covid_data_df.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [9]:
#check for duplicates

dup_check = covid_data_df[covid_data_df.duplicated(['date', 'state'], keep = False)]


dup_check

Empty DataFrame
Columns: [date, state, fips, cases, deaths]
Index: []

No duplicate data

In [ ]:
#monthly state totals

#loop through database to calculate monthly stats