In [69]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import requests
import csv
import os
import numpy as np
from census import Census
import gmaps

# Census & gmaps API Keys
api_key = "1a29dddcccca109fdf22724b95a10bd05db7d594"
gkey = "AIzaSyCvygCrvLyZnpp06lbeDwFgOYgqwJFoe48"
c = Census(api_key, year=2019)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [13]:
#import covid data
file_path = "us-states.csv"
covid_data_df = pd.read_csv(file_path)
covid_data_df.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [14]:
#check for duplicates

dup_check = covid_data_df[covid_data_df.duplicated(['date', 'state'], keep = False)]


dup_check

Empty DataFrame
Columns: [date, state, fips, cases, deaths]
Index: []

No duplicate data

In [30]:
#split date field into year, month, day to calculate monthly totals 

#list for reformatted data
year = []
month = []
day = []
state = []
cases = []
deaths = []


with open (file_path, 'r') as csvfile:
    csvreader = csv.reader(csvfile, delimiter =",")
    
    #skip header row
    next(csvreader, None)
    
    #loop through data splitting the date field 
    
    for row in csvreader:
        
        #split date and to date lists
        yr,m,d = row[0].split("-")
        year.append(yr)
        month.append(m)
        day.append(d)
        
        #add state
        state.append(row[1])
        
        #add cases
        cases.append(row[3])
        
        #add deaths
        deaths.append(row[4])


#create a dictonary to se for the data frame
covid_dict = {"Year": year, "Month": month, "Day": day, "State": state, "Cases": cases, "Deaths": deaths}

#create data frame
reformated_date_df = pd.DataFrame(covid_dict)

reformated_date_df['Cases'] = reformated_date_df['Cases'].astype(float) 
reformated_date_df['Deaths'] = reformated_date_df['Deaths'].astype(float) 

reformated_date_df

       Year Month Day          State     Cases   Deaths
0      2020    01  21     Washington       1.0      0.0
1      2020    01  22     Washington       1.0      0.0
2      2020    01  23     Washington       1.0      0.0
3      2020    01  24       Illinois       1.0      0.0
4      2020    01  24     Washington       1.0      0.0
...     ...   ...  ..            ...       ...      ...
23274  2021    04  29       Virginia  658341.0  10751.0
23275  2021    04  29     Washington  403589.0   5535.0
23276  2021    04  29  West Virginia  152733.0   2674.0
23277  2021    04  29      Wisconsin  659812.0   7542.0
23278  2021    04  29        Wyoming   58069.0    707.0

[23279 rows x 6 columns]

In [87]:
state_group = reformated_date_df.groupby(['State'])

state_group = state_group.last()
state_group.reset_index(inplace=True)

state_group

                       State  Year Month Day      Cases   Deaths
0                    Alabama  2021    04  29   527513.0  10887.0
1                     Alaska  2021    04  29    67458.0    330.0
2                    Arizona  2021    04  29   861653.0  17305.0
3                   Arkansas  2021    04  29   335529.0   5735.0
4                 California  2021    04  29  3739598.0  61647.0
5                   Colorado  2021    04  29   511914.0   6422.0
6                Connecticut  2021    04  29   338447.0   8084.0
7                   Delaware  2021    04  29   104038.0   1624.0
8       District of Columbia  2021    04  29    47614.0   1105.0
9                    Florida  2021    04  29  2228204.0  35083.0
10                   Georgia  2021    04  29  1074398.0  19532.0
11                      Guam  2021    04  29     8928.0    137.0
12                    Hawaii  2021    04  29    32580.0    480.0
13                     Idaho  2021    04  29   187578.0   2048.0
14                  Illinois  2021    04  29  1335559.0  24252.0
15                   Indiana  2021    04  29   722258.0  13324.0
16                      Iowa  2021    04  29   364476.0   5931.0
17                    Kansas  2021    04  29   310650.0   5021.0
18                  Kentucky  2021    04  29   446773.0   6612.0
19                 Louisiana  2021    04  29   457896.0  10376.0
20                     Maine  2021    04  29    60945.0    782.0
21                  Maryland  2021    04  29   446647.0   8718.0
22             Massachusetts  2021    04  29   687638.0  17594.0
23                  Michigan  2021    04  29   931977.0  18705.0
24                 Minnesota  2021    04  29   574031.0   7221.0
25               Mississippi  2021    04  29   311654.0   7195.0
26                  Missouri  2021    04  29   600129.0   9237.0
27                   Montana  2021    04  29   108773.0   1570.0
28                  Nebraska  2021    04  29   219559.0   2365.0
29                    Nevada  2021    04  29   314928.0   5459.0
30             New Hampshire  2021    04  29    94676.0   1301.0
31                New Jersey  2021    04  29   995365.0  25529.0
32                New Mexico  2021    04  29   197447.0   4060.0
33                  New York  2021    04  29  2042530.0  51677.0
34            North Carolina  2021    04  29   974573.0  12658.0
35              North Dakota  2021    04  29   107329.0   1522.0
36  Northern Mariana Islands  2021    04  29      164.0      2.0
37                      Ohio  2021    04  29  1070771.0  19188.0
38                  Oklahoma  2021    04  29   447931.0   6788.0
39                    Oregon  2021    04  29   183830.0   2507.0
40              Pennsylvania  2021    04  29  1151784.0  26233.0
41               Puerto Rico  2021    04  29   164286.0   2296.0
42              Rhode Island  2021    04  29   147897.0   2669.0
43            South Carolina  2021    04  29   577550.0   9495.0
44              South Dakota  2021    04  29   122532.0   1962.0
45                 Tennessee  2021    04  29   831905.0  12091.0
46                     Texas  2021    04  29  2890561.0  50339.0
47                      Utah  2021    04  29   397049.0   2197.0
48                   Vermont  2021    04  29    22824.0    246.0
49            Virgin Islands  2021    04  29     3093.0     27.0
50                  Virginia  2021    04  29   658341.0  10751.0
51                Washington  2021    04  29   403589.0   5535.0
52             West Virginia  2021    04  29   152733.0   2674.0
53                 Wisconsin  2021    04  29   659812.0   7542.0
54                   Wyoming  2021    04  29    58069.0    707.0

In [85]:
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate", "Unemployment Rate"]]

census_pd.rename(columns={"Name": "State"})

,State,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,Alabama,4876250.0,39.0,50536.0,27928.0,795989.0,16.323794,2.708946
1,Alaska,737068.0,34.3,77640.0,36787.0,76933.0,10.437707,3.637114
2,Arizona,7050299.0,37.7,58945.0,30694.0,1043764.0,14.804535,2.778676
3,Arkansas,2999370.0,38.1,47597.0,26577.0,496260.0,16.545475,2.349860
4,California,39283497.0,36.5,75235.0,36955.0,5149742.0,13.109174,3.052765
5,Colorado,5610349.0,36.7,72331.0,38226.0,565873.0,10.086235,2.341583
6,Delaware,957248.0,40.6,68287.0,35450.0,109400.0,11.428595,2.766368
7,District of Columbia,692683.0,34.0,86420.0,56147.0,107140.0,15.467393,4.037489
8,Connecticut,3575074.0,41.0,78444.0,44496.0,344146.0,9.626262,3.257443
9,Florida,20901636.0,42.0,55660.0,31619.0,2870487.0,13.733313,2.686144
10,Georgia,10403847.0,36.7,58700.0,31067.0,1528558.0,14.692238,2.792813
11,Idaho,1717750.0,36.4,55785.0,27970.0,221256.0,12.880571,2.088721
12,Hawaii,1422094.0,39.1,81275.0,35567.0,130649.0,9.187086,2.128481
13,Illinois,12770631.0,38.1,65886.0,36038.0,1557873.0,12.198873,3.092886
14,Indiana,6665703.0,37.7,56303.0,29777.0,867996.0,13.021822,2.420615
15,Iowa,3139508.0,38.2,60523.0,32176.0,348122.0,11.088425,1.993083
16,Kansas,2910652.0,36.7,59597.0,31814.0,337739.0,11.603551,2.095819
17,Kentucky,4449052.0,38.9,50589.0,28178.0,747010.0,16.790318,2.628537
18,Louisiana,4664362.0,36.9,49469.0,27923.0,871467.0,18.683520,3.023350
19,Maine,1335492.0,44.7,57918.0,32637.0,153131.0,11.466261,2.165644
20,Maryland,6018848.0,38.7,84805.0,42122.0,539991.0,8.971667,2.731353
21,Massachusetts,6850553.0,39.5,81215.0,43761.0,680962.0,9.940249,2.676499
22,Michigan,9965265.0,39.7,57144.0,31713.0,1398527.0,14.034017,2.949184
23,Minnesota,5563378.0,38.0,71306.0,37625.0,526065.0,9.455856,1.997258
24,Mississippi,2984418.0,37.5,45081.0,24369.0,585786.0,19.628149,3.341791
25,Missouri,6104910.0,38.6,55461.0,30810.0,810045.0,13.268746,2.289780
26,Montana,1050649.0,39.9,54970.0,31151.0,134605.0,12.811605,2.047592
27,Nebraska,1914571.0,36.5,61439.0,32302.0,206579.0,10.789832,1.803798
28,Nevada,2972382.0,38.0,60365.0,31557.0,384690.0,12.942145,3.109493
29,New Hampshire,1348124.0,42.9,76768.0,40003.0,98682.0,7.319950,2.034679
30,New Jersey,8878503.0,39.9,82545.0,42745.0,869081.0,9.788598,2.906943
31,New Mexico,2092454.0,37.8,49754.0,27230.0,392065.0,18.737091,3.032707
32,New York,19572319.0,38.8,68486.0,39326.0,2681277.0,13.699332,2.797364
33,North Carolina,10264876.0,38.7,54602.0,30783.0,1467591.0,14.297211,2.740842
34,North Dakota,756717.0,35.1,64894.0,36062.0,78198.0,10.333850,1.507301
35,Ohio,11655397.0,39.4,56602.0,31552.0,1588343.0,13.627532,2.698175
36,Oklahoma,3932870.0,36.6,52919.0,28422.0,598373.0,15.214665,2.411318
37,Oregon,4129803.0,39.3,62818.0,33763.0,533527.0,12.918946,2.773958
38,Pennsylvania,12791530.0,40.8,61744.0,34352.0,1539183.0,12.032830,2.715688
39,Rhode Island,1057231.0,39.9,67167.0,36121.0,125826.0,11.901467,2.880638
40,South Carolina,5020806.0,39.4,53199.0,29426.0,741650.0,14.771533,2.778956
41,South Dakota,870638.0,37.0,58275.0,30773.0,110553.0,12.697930,1.807410
42,Tennessee,6709356.0,38.7,53320.0,29859.0,996930.0,14.858803,2.575493
43,Texas,28260856.0,34.6,61874.0,31277.0,4072194.0,14.409309,2.508158
44,Vermont,624313.0,42.9,61973.0,34577.0,65652.0,10.515879,1.973850
45,Utah,3096848.0,30.8,71621.0,29775.0,298537.0,9.640028,1.793404
46,Virginia,8454463.0,38.2,74222.0,39278.0,865691.0,10.239456,2.375668
47,Washington,7404107.0,37.7,73775.0,38915.0,785244.0,10.605519,2.530082
48,West Virginia,1817305.0,42.5,46711.0,26480.0,310044.0,17.060647,2.856428
49,Wisconsin,5790716.0,39.5,61747.0,33375.0,639160.0,11.037668,1.926601
50,Wyoming,581024.0,37.7,64049.0,33366.0,62257.0,10.715048,2.331057
51,Puerto Rico,3318447.0,41.7,20539.0,12914.0,1449091.0,43.667746,5.934523

In [98]:
merged_data = pd.merge(census_pd, state_group, how="left", on=["State", "State"])

KeyError: 'State'