In [4]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import requests
import csv
import os

In [5]:
#import covid data
file_path = "covid_data.csv"
covid_data_df = pd.read_csv(file_path)
covid_data_df.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [6]:
#check for duplicates

dup_check = covid_data_df[covid_data_df.duplicated(['date', 'state'], keep = False)]


dup_check

Empty DataFrame
Columns: [date, state, fips, cases, deaths]
Index: []

No duplicate data

In [8]:
#split date field into year, month, day to calculate monthly totals 

#list for reformatted data
year = []
month = []
day = []
state = []
cases = []
deaths = []


with open (file_path, 'r') as csvfile:
    csvreader = csv.reader(csvfile, delimiter =",")
    
    #skip header row
    next(csvreader, None)
    
    #loop through data splitting the date field 
    
    for row in csvreader:
        
        #split date and to date lists
        yr,m,d = row[0].split("-")
        year.append(yr)
        month.append(m)
        day.append(d)
        
        #add state
        state.append(row[1])
        
        #add cases
        cases.append(row[3])
        
        #add deaths
        deaths.append(row[4])


#create a dictonary to se for the data frame
covid_dict = {"Year": year, "Month": month, "Day": day, "State": state, "Cases": cases, "Deaths": deaths}

#create data frame
reformated_date_df = pd.DataFrame(covid_dict)

reformated_date_df.head()

   Year Month Day       State Cases Deaths
0  2020    01  21  Washington     1      0
1  2020    01  22  Washington     1      0
2  2020    01  23  Washington     1      0
3  2020    01  24    Illinois     1      0
4  2020    01  24  Washington     1      0

In [35]:
reformated_date_df.dtypes

Year      object
Month     object
Day       object
State     object
Cases     object
Deaths    object
dtype: object

In [ ]:
reformated_date_df.pd.to_numeric(reformated_date_df

In [34]:
#calculate monthly totals for each state 

#group by state and month

State_group = reformated_date_df.groupby(['State', 'Month', 'Year']).sum()

State_group

                                                                  Day  \
State   Month Year
Alabama 01    2021  0102030405060708091011121314151617181920212223...
        02    2021  0102030405060708091011121314151617181920212223...
        03    2020             13141516171819202122232425262728293031
              2021  0102030405060708091011121314151617181920212223...
        04    2020  0102030405060708091011121314151617181920212223...
...                                                               ...
Wyoming 08    2020  0102030405060708091011121314151617181920212223...
        09    2020  0102030405060708091011121314151617181920212223...
        10    2020  0102030405060708091011121314151617181920212223...
        11    2020  0102030405060708091011121314151617181920212223...
        12    2020  0102030405060708091011121314151617181920212223...

                                                                Cases  \
State   Month Year
Alabama 01    2021  3657473694583719343740953795933841843892303942...
        02    2021  4608604629384650564678234693194713114724234733...
        03    2020  6122329395178106131157196242386538639720830947999
              2021  4937694944214971544980764988874994114998195000...
        04    2020  1108127015351632184020052197249828383008326235...
...                                                               ...
Wyoming 08    2020  2769280828482884292329583000301330503042307330...
        09    2020  3866391139393989400640324032410341514199426442...
        10    2020  6083621463656504662967706899709273357455761178...
        11    2020  1372314167146191504415409164051659717310180101...
        12    2020  3380534507350783573735941363173698537475378853...

                                                               Deaths
State   Month Year
Alabama 01    2021  4872487248734878488649945080519152995334534755...
        02    2021  7688789482038365844985138515852385798888902191...
        03    2020                              000000000000134451114
              2021  9931999110029100941012210149101481014810186102...
        04    2020  2832384445536467788093931041141231371511471601...
...                                                               ...
Wyoming 08    2020  2626272727272828282829292930303033343434373737...
        09    2020  4141414242424242424242424246464649494949494950...
        10    2020  5353535353535354545454545757575757575761616868...
        11    2020  8787931051051051051141141271271271271441441441...
        12    2020  2302302572572572572802802992993213213213213283...

[784 rows x 3 columns]